main {
  margin: auto;
  margin-top: 1px;
  width: 350px;
}

.post-container {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.post-head {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 8px 3px;
}

.poster-avatar-img {
  width: 32px;
  height: fit-content;
  border-radius: 50%;
  margin: auto 0;
  margin-left: 6px;
  margin-right: 8px;
}

.poster-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  cursor: pointer;
}

.username-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-content: center;
}

.poster-username {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: -3px;
}

.poster-username:active {
  opacity: 0.7;
}

.checkmark {
  width: 11px;
  height: 11px;
  margin-top: 2.5px;
  margin-left: 4px;
}

#hide {
  display: none;
}

.poster-location {
  margin-top: 0px;
  font-size: 11px;
}

.post-image {
  width: 100%;
  border-radius: 6px;
}

.post-footer {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px 10px;
}

.post-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90px;
}

.controls-img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.controls-img:active {
  opacity: 0.7;
}

.post-likes {
  font-weight: bold;
  font-size: 13px;
  width: fit-content;
  margin: 6px 0px;
  cursor: pointer;
}

.post-likes:active {
  opacity: 0.7;
}

span {
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  visibility: visible;
}

.post-caption {
  font-size: 13px;
  margin-bottom: 10px;
}
